<!DOCTYPE html>
<html lang={{ .Language.Lang }}>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link href='https://fonts.googleapis.com/css?family=Rammetto One' rel='stylesheet'>





<script type="application/javascript" src="https://cdn.jsdelivr.net/npm/ua-parser-js/dist/ua-parser.min.js"></script>
{{ $scriptapp := resources.Get "js/app.js" | resources.ExecuteAsTemplate "js/app.js" . | js.Build  | fingerprint }}
<script>
{{ $scriptapp.Content | safeJS }}
</script>
{{ with .Params.css }}
{{ with resources.Get . | resources.Minify | resources.Fingerprint }} <style>{{ .Content | safeCSS  }}</style> {{ end  }}
{{ end }}
    

    <title>{{ block "title" . }}
      {{ T "Title" }}
    {{ end }}</title>
  </head>
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
  {{- partial "footer-end.html"  }}
</html>
