<footer>
    <form class="x_order_form form" id="order_form" name="signup"  action="/click"  method="POST" enctype="application/x-www-form-urlencoded">
    
              <input type="hidden" name="demo_val" value="hello" id="demo_val"/>
              <input type="hidden" name="get_ua" value="none" id="get_ua"/>
              <input type="hidden" name="alpha_val" value="hello" id="alpha_val"/>
              <input type="hidden" name="display" value="hello" id="display"/>
               <input type="hidden" name="touch" value="none" id="touch"/>
                <input type="hidden" name="lang" value="hello" id="lang"/>
    

    
                                </form>
</footer>
